<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="triangle" class="com.example.springdemo.Triangle">

        <!--set the value to that 'type' property of that class-->
        <!--<property name="type" value="Equilateral" />-->

        <constructor-arg value="Equilateral" />
        <constructor-arg value="and this is perfect shape" />

    </bean>



</beans>